employment_start_date = "YYYY-MM-DD"
schedule_file = "/path/to/pto_schedule.ods"

[standard_pto]
start_balance = 0
max_rollover = 160
cap = 160
yearly_accrual = [
    72,  # year 0; 6 hrs/month
    112, # year 1; 9.33 hrs/month
    112, # year 2; 9.33 hrs/month
    112, # year 3; 9.33 hrs/month
    112, # year 4; 9.33 hrs/month
    112, # year 5; 9.33 hrs/month
    152, # year 6; 12.66 hrs/month
]

[flexible_pto]
start_balance = 0
max_rollover = 108
annual_grant = 10
monthly_accrual = 5.84
